@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

body {
    margin: 0;
    color: white;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    line-height: 24px;
}
body.lightBody {
    color: #002040;
}
body.darkBody {
    background: #0050F0;
}
a {
    font-weight: 600;
}
p {
    font-size: 0.9em;
    font-weight: 300;
    margin: 0;
}
.darkBody a {
    color: white;
}
.button {
    background: #0050F0;
    border: 0;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 1em;
    color: white;
    align-self: flex-start;
    margin-top: 40px;
    cursor: pointer;
    text-decoration: none;
}
.errorCode {
    color: #808090;
    margin-top: 12px;
}
.imageContainer, .contentContainer {
    position: absolute;
    height: 100vh;
    width: 50vw;
}
.imageContainer img, .imageContainer .imageOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
}
.imageContainer img {
    object-fit: cover;
}
.contentContainer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.messages {
    margin: 24px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.primaryMessage {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 36px;
}
.secondaryMessage {
    font-size: 1em;
    font-weight: 400;
}

@media (max-width: 767px) {
    body.darkBody .imageOverlay {
        background: rgba(0,80,240,0.9);
    }
    body.lightBody .imageOverlay {
        background: rgba(255,255,255,0.9);
    }
    .imageContainer, .contentContainer {
        height: 100vh;
        width: 100vw;
    }
}

@media (min-width: 768px) {
    .imageContainer {
        left: 50vw;
    }
}
